.box {
	width: 305px;
	background: #e4e6f6;
	border-radius: 10px;
	padding: 20px;
	opacity: 0;
	transform: translateY(100px);
	visibility: hidden;
	transition: 0.7s;
	margin-top: 40px;

	.box-title {
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 20px;
		color: #000;
	}

	.user-container {
		border-radius: 5px;
		max-height: 416px;
		padding-right: 20px;
		overscroll-behavior: contain;
		overflow-y: scroll;
	}

	.user {
		display: flex;
		align-items: center;
		background: rgba(255, 255, 255, 0.35);
		margin-bottom: 10px;
		border-radius: 10px;
		cursor: pointer;
		transition: background 0.2s;

		&:hover {
			background: rgba(255, 255, 255, 0.75);
		}

		.user-image {
			width: 50px;
			height: 50px;
			border-radius: 50px;
			box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
		}

		.user-name {
			color: #000;
			font-weight: bold;
			display: flex;
			align-items: center;
			width: 100%;
			padding: 3px;

			span {
				margin-left: 10px;
			}
		}
	}
}

.box.active {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
