.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 24px 16px;
    margin-top: 30px;
    background: #202024;
    border-bottom: 2px solid #338af3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-height: 500px;
    overflow-y: scroll;

    .user-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        .user-image {
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }

        .user-name {
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            transition: 0.4s;

            &:hover {
                color: #9999;
            }
        }
    }
}
