.follow-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .sign {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 15px;
        color: #fff;
        letter-spacing: 1px;
        font-weight: bold;
        transition: 0.4s;

        &:hover {
            transform: scale(0.8);
        }
    }

    .body-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: -1;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        h3 {
            font-size: 32px;
        }

        .input-buttons {
            display: flex;
            gap: 50px;

            button {
                width: 130px;
                background: #000;
                color: #fff;
                font-weight: bold;
                transition: 0.4s;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 13px 0px rgba(38, 166, 65, 1);
                }
            }

            .non-follow {
                opacity: 0;
                visibility: hidden;
                transition: 0.4s;
                width: 0px;
            }

            .non-follow.active {
                opacity: 1;
                visibility: visible;
                width: 130px;
            }
        }

        .input {
            width: 250px;
            height: 30px;
            border: 2px solid transparent;
            outline: none;
            border-bottom: 2px solid #fff;
            caret-color: #fff;
            background-color: #212121;
            padding: 5px;
            transition: 0.5s linear;
            font-family: monospace;
            letter-spacing: 1px;
            color: #fff;

            &:focus {
                border: 2px solid #fff;
                caret-color: #fff;
                color: #fff;
                box-shadow: 4px 4px 10px #070707;
            }

            &:focus::placeholder {
                color: #fff;
            }
        }
    }

    .follow-boxes {
        display: flex;
        gap: 20px;
    }
}
